In [3]:
#Libraries
import math
import math as mt

In [8]:
math.sqrt(25)

5.0

In [6]:
math.pi

3.141592653589793

In [7]:
mt.sqrt(25)

5.0

In [13]:
#Importing new libraries
import numpy 
import math
from scipy import stats

In [16]:
# use numpy to establish some random data

from numpy import random
import numpy as np

# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [18]:
dataOne

array([[0.4915499 , 0.02095297, 0.9575555 , 0.35286568, 0.17289657],
       [0.95253167, 0.29402039, 0.26207952, 0.42162397, 0.33040014],
       [0.39071922, 0.05436233, 0.01647657, 0.56756203, 0.39077279],
       [0.25060648, 0.02391116, 0.1529573 , 0.51870782, 0.92278189],
       [0.70930186, 0.2564544 , 0.91398686, 0.68647506, 0.06096264]])

In [19]:
#Now we use a the mean function from within numpy to obtain the mean of the entire array of numbers as follows
np.mean(dataOne)

0.40690058917635036

In [20]:
#Functions
print('I Love data Science')

I Love data Science

In [21]:
#Variables
variableName = 25
variableName1 = 'I Love data Science'
print(variableName1)

I Love data Science

In [22]:
#Datatypes
variableName = 25
type(variableName)
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [24]:
varOne =str(25)

varTwo = 'Hello'

varThree = varOne + varTwo

print(varThree)

25Hello

In [25]:
#Lists and Dictionaries
listName = [ ]
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [26]:
#Dictionaries
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098