# This is a summary of the tutorial of the book  a Whirlwind Tour of Python
## Mauricio Carvajal

# 3.How to Run Python Code

In [149]:
#Just type
1 + 1

2

In [150]:
# set the midpoint
midpoint = 5
# make two empty lists
lower = []; upper = []
# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [151]:
#In Python, if you’d like a statement to continue to the next line, it is possible to use the \ marker to indicate this:
x = 1 + 2 + 3 + 4 +\
5 + 6 + 7 + 8
x

36

In [152]:
#ontinue expressions on the next line within parentheses, without using the \ marker
x = (1 + 2 + 3 + 4 +
5 + 6 + 7 + 8)

## 3.1 Indentation: Whitespace Matters!

In [153]:
for i in range(10):
    if i < midpoint:
        lower.append(i)
    else:
        upper.append(i)

# 4. Basic Python Semantics: Variables and Objects

## 4.1 Python Variables Are Pointers

In [154]:
x = 1 # x is an integer
x = 'hello' # now x is a string
x = [1, 2, 3] # now x is a list

## 4.2 Everything Is an Object

In [155]:
# Python is an object-oriented programming language, and in Python everything is an object.

#In Python, everything is an object, which means every entity has some metadata (called attributes) and associated function‐
#ality (called methods). 

L = [1, 2, 3]
L.append(100)
print(L)

[1, 2, 3, 100]

In [156]:
x = 4.5
print(x.real, "+", x.imag, 'i')
x = 4.5
x.is_integer()

4.5 + 0.0 i

False

# 5. Basic Python Semantics: Operators

## 5.1 Arithmetic Operations

In [157]:
# Operator Name Description
# a + b Addition Sum of a and b
# a - b Subtraction Diﬀerence of a and b
# a * b Multiplication Product of a and b
# a / b True division Quotient of a and b
# a // b Floor division Quotient of a and b, removing fractional parts
# a % b Modulus Remainder after division of a by b
# a ** b Exponentiation a raised to the power of b
# -a Negation The negative of a
# +a Unary plus a unchanged (rarely used)

In [158]:
(4 + 8) * (6.5 - 3)

42.0

## 5.2 Bitwise Operations

In [159]:
# Operator Name Description
# a & b Bitwise AND Bits defned in both a and b
# a | b Bitwise OR Bits defned in a or b or both
# a ^ b Bitwise XOR Bits defned in a or b but not both
# a << b Bit shift left Shift bits of a left by b units
# a >> b Bit shift right Shift bits of a right by b units
# ~a Bitwise NOT Bitwise negation of a

In [160]:
bin(10)

'0b1010'

In [161]:
4 | 10

14

In [162]:
bin(4 | 10)

'0b1110'

In [163]:
a = 24
b=2
print(a)
a += 2 # equivalent to a = a + 2
print(a)

24
26

In [164]:
#Important
#a += b a -= b a *= b a /= b
#a //= b a %= b a **= b a &= b
#a |= b a ^= b a <<= b a >>= b
a *= b 
a

52

## 5.3 Comparison Operations

In [165]:
# Operation Description
# a == b a equal to b
# a != b a not equal to b
# a < b a less than b
# a > b a greater than b
# a <= b a less than or equal to b
# a >= b a greater than or equal to b

In [166]:
# 25 is odd
25 % 2 == 1

True

## 5.4 Identity and Membership Operators

In [167]:
# a is b True if a and b are identical objects
# a is not b True if a and b are not identical objects
# a in b True if a is a member of b
# a not in b True if a is not a member of b

In [168]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b

True

In [169]:
# Object identity is different than equality
a is b

False

In [170]:
a = [1, 2, 3]
b = a
a is b

True

# 6. Built-In Types: Simple Values

In [171]:
# Type Example Description
# int x = 1 Integers (i.e., whole numbers)
# float x = 1.0 Floating-point numbers (i.e., real numbers)
# complex x = 1 + 2j Complex numbers (i.e., numbers with a real and imaginary part)
# bool x = True Boolean: True/False values
# str x = 'abc' String: characters or text
# NoneType x = None Special object indicating nulls

## 6.1 Floating-point precision

In [172]:
0.1 + 0.2 == 0.3

False

# 7. Built-In Data Structures

In [173]:
# Type Name Example Description
# list [1, 2, 3] Ordered collection
# tuple (1, 2, 3) Immutable ordered collection
# dict {'a':1, 'b':2, 'c':3} Unordered (key,value) mapping
# set {1, 2, 3} Unordered collection of unique values

## 7.1 List

In [174]:
L = [2, 3, 5, 7]
print(L)
L.append(11)
print(L)
L += [19, 17, 1]
print(L)
#L = [2, 5, 1, 6, 3, 4]
L.sort()
L[0]
L[-2]
L[0:3]
L[:3]
L[-3:]
print(L)

print(L[::2] )# equivalent to L[0:len(L):2]

[2, 3, 5, 7]
[2, 3, 5, 7, 11]
[2, 3, 5, 7, 11, 19, 17, 1]
[1, 2, 3, 5, 7, 11, 17, 19]
[1, 3, 7, 17]

## 7.2 Tuples

In [175]:
#Tuples are in many ways similar to lists, but they are defined with parentheses rather than square brackets
t = (1, 2, 3)
# Can also be defined without it
t = 1, 2, 3
print(t)

(1, 2, 3)

In [176]:
#Tuples are often used in a Python program; a particularly common
#case is in functions that have multiple return values
x = 0.125
x.as_integer_ratio()

(1, 8)

## 7.3 Dictionaries

In [177]:
numbers = {'one':1, 'two':2, 'three':3}
# Access a value via the key
numbers['two']
# Set a new key/value pair
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

##7.4 Sets

In [178]:
#The fourth basic collection is the set, which contains unordered collections of unique items. They are defined much 
#like lists and tuples, except they use the curly brackets of dictionaries:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [179]:
# union: items appearing in either
primes | odds # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [180]:
# intersection: items appearing in both
primes & odds # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [181]:
# difference: items in primes but not in odds
primes - odds # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [182]:
# symmetric difference: items appearing in only one set
primes ^ odds # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

# 7.4 More Specialized Data Structures

In [183]:
#In particular, I’ve found the following very useful on occasion:
#	collections.namedtuple
#		Like a tuple, but each value has a name
#	collections.defaultdict
#		Like a dictionary, but unspecified keys have a user-specified default value
#	collections.OrderedDict
#		Like a dictionary, but the order of keys is maintained#

# 8. Control Flow

In [184]:
#Control ﬂow is where the rubber really meets the road in program‐ming

In [185]:
x = -15
if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative

## 8.1 For loops

In [186]:
for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on same line

2 3 5 7

In [187]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

## 8.2 while loops

In [188]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

## 8.3 break and continue: Fine-Tuning Your Loops

In [189]:
for n in range(20):
    # check if n is even
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [190]:
a, b = 0, 1
amax = 100
L = []
while True:
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)
print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## 8.4 Loops with an else Block

In [191]:
L = []
nmax = 30
for n in range(2, nmax):
    for factor in L:
        if n % factor == 0:
            break
    else: # no break
        L.append(n)
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# 9 Defining and Using Functions

In [192]:
#Functions are groups of code that have a name and can be called using parentheses.
print('abc')

abc

In [193]:
print(1, 2, 3, sep='--')

1--2--3

## 9.1 Defining Functions

In [194]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [195]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [196]:
def real_imag_conj(val):
    return val.real, val.imag, val.conjugate()

r, i, c = real_imag_conj(3 + 4j)
print(r, i, c)

3.0 4.0 (3-4j)

## 9.2 Default Argument Values

In [197]:
def fibonacci(N, a=0, b=1):
    L = []
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [198]:
fibonacci(10)
fibonacci(10, 0, 2)
fibonacci(10, b=3, a=1)

[3, 4, 7, 11, 18, 29, 47, 76, 123, 199]

## 9.3 *args and **kwargs: Flexible Arguments

In [199]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs = ", kwargs)

In [200]:
catch_all(1, 2, 3, a=4, b=5)

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}

In [201]:
catch_all('a', 2, keyword=2)

args = ('a', 2)
kwargs =  {'keyword': 2}

## 9.4 Anonymous (lambda) Functions

In [202]:
add = lambda x, y: x + y
add(1, 2)

3

In [203]:
def add(x, y):
    return x + y

In [204]:
data = [{'first':'Guido', 'last':'Van Rossum', 'YOB':1956},
{'first':'Grace', 'last':'Hopper', 'YOB':1906},
{'first':'Alan', 'last':'Turing', 'YOB':1912}]

In [205]:
sorted([2,4,3,5,1,6])

[1, 2, 3, 4, 5, 6]

In [206]:
# sort alphabetically by first name
sorted(data, key=lambda item: item['first'])

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [207]:
# sort by year of birth
sorted(data, key=lambda item: item['YOB'])

[{'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

# Loading the CSV